@charset "utf-8";
/* CSS Document */
/*html page*/
body
{
height:1500px;
width:1500px;
background-color:#000;

}


h1
{
color:#FFF;
font-size:50px;

}


/*divs*/
#one
{
height:800px;
width::1000px;
background-color:#000;
}

#two
{
height:200px;
width::1000px;
background-color:#F00;
}

#three
{
height:200px;
width::1000px;
background-color:#00F;
}

#four
{
height:600px;
width:500px;
background-color:#FFF;
border:#000 solid 5px;
}
#five
{
height:600px;
width:400px;
background-color:#FFF;
margin-left:600px;
border:#000 solid 5px;
}